/* .vitepress/theme/style/sidebar.css */

/* 多级侧边栏从第一层开始缩进 */
.group:has([role="button"]) .VPSidebarItem.level-0 .items {
  padding-left: 16px !important;
  border-left: 1px solid var(--vp-c-divider);
  border-radius: 2px;
  transition: background-color 0.25s;
}
